<div class="payCenter">
    <div class="payCenter__main">
        <div class="payCenter__main_title">Ожидание оплаты</div>
        <div class="payCenter__main_text">
            Ссылка для оплаты была открыта в браузере по умолчанию
        </div>
        <div class="payCenter__main_loader">
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            <span></span>
        </div>
    </div>
    <div class="payCenter__action">
        <div class="payCenter__action_item">
            @@include('../../../components/backBtn.html', {
                "text": "вернутся"
            })
        </div>
    </div>
</div>