.settings {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform: translateY(-100%);
    background-color: var(--dark_blue_bg);
    z-index: 1000;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    background-image: url('/assets/img/pricing-bg.svg');
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all .7s ease;

    &__in {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    &__head {
        margin-bottom: 25px;

        &_title {
            font-size: 20px;
            line-height: 24px;
            text-transform: uppercase;
            margin-bottom: 15px;
            text-align: center;
        }

        &_info {
            display: flex;
            align-items: center;
            justify-content: center;
            margin-left: -15px;
            margin-right: -15px;

            &_item {
                width: 165px;
                height: 40px;
                position: relative;
                display: flex;
                align-items: center;
                justify-content: center;
                flex-direction: column;
                margin: 0 15px;

                .angle {
                    width: 5px;
                    height: 5px;
                    background-repeat: no-repeat;
                    background-position: center;
                    background-size: contain;
                    position: absolute;
                }

                .tl {
                    top: 0;
                    left: 0;
                    background-image: url('/assets/img/pricing-top-left-angle.svg');
                }
                .tr {
                    top: 0;
                    right: 0;
                    background-image: url('/assets/img/header-top-right-angle.svg');
                }
                .bl {
                    bottom: 0;
                    left: 0;
                    background-image: url('/assets/img/header-bottom-left-angle.svg');
                }
                .br {
                    bottom: 0;
                    right: 0;
                    background-image: url('/assets/img/header-bottom-right-angle.svg');
                }

                &_label {
                    margin-bottom: 2px;
                    font-size: 7.33192px;
                    line-height: 8px;
                    text-transform: uppercase;
                }

                &_value {
                    font-weight: 700;
                    font-size: 19.4px;
                    line-height: 22px;
                    text-transform: uppercase;
                }
            }
        }
    }

    &__body {
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
        margin-bottom: 45px;
        width: 100%;
        
        &_col { 
            margin: 0 7px;
            width: 355px;

            &_item {
                height: 42px;
                border-bottom: 0.2px solid #5E5E5E;
                display: flex;
                align-items: center;
                justify-content: space-between;

                &_dis {
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    z-index: -1;
                    display: none;
                    align-items: center;
                    justify-content: center;
                    text-align: center;
                    background-color: rgba(47, 47, 47, 0.9);
                    color: #fff;
                    text-transform: uppercase;
                }

                &:nth-child(1) {
                    border-top: 0.2px solid #5E5E5E;
                }

                &_label {
                    font-size: 10px;
                    line-height: 12px;
                    text-transform: uppercase;
                    padding-right: 20px;
                }

                &_body {
                    height: 24px;
                    display: flex;
                    position: relative;

                    &_el.active {
                        background-color: var(--aqua);
                        color: #000;
                    }

                    &_el {
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        padding: 0 16px;
                        white-space: nowrap;
                        color: #fff;
                        @include def-anim;
                        font-size: 10px;
                        line-height: 12px;
                        text-transform: uppercase;
                        background-color: rgba(#57D6FF, .1);
                        cursor: pointer;

                        &:hover {
                            background-color: rgba(#57D6FF, .5);
                        }

                        &:first-child {
                            border-radius: 2px 0px 0px 2px;
                        }

                        &:last-child {
                            border-radius: 0px 2px 2px 0px;
                        }
                    }
                }   

            }

            &_item.fps {

                .settings__body_col_item_body {

                    &_el {
                        padding: 0 10px;
                    }
                }
            }

            &_item.disabled {
                align-items: unset;

                .settings__body_col_item_dis {
                    display: flex;
                    z-index: 10;
                }

                .settings__body_col_item_label {
                    display: flex;
                    align-items: center;
                    color: #5F5F5F;
                }

                .settings__body_col_item_body {
                    height: 100%;
                    width: 260px;
                    flex: 0 0 auto;
                    overflow: hidden;
                    
                    &_el {
                        opacity: 0;
                        background-color: rgba(#2F2F2F, .9);
                        // height: 100%;
                        // height: 42px;
                    }
                }
            }
        }
    }   

    &__action {
        display: flex;
        align-items: center;
        justify-content: space-between;
        

        &_item {
            margin: 0 20px;
        }
    }
}

.settings.active {
    transform: translateY(0);
}