<div class="pricingItemHour">
    <div class="pricingItemHour__in">
        <div class="pricingItemHour__head">
            <span>Почасовая оплата</span>
            <span>1 час - 45 рублей  </span>
        </div>
        <div class="pricingItem__body pricingItemHour__body">
            <div class="pricingItem__body_item pricingItemHour__body_item">Хранение данных в течении 7 дней</div>
            <div class="pricingItem__body_item pricingItemHour__body_item">Безлимитное время использования</div>
            <div class="pricingItem__body_item pricingItemHour__body_item">высокоскоростной интернет</div>
            <div class="pricingItem__body_item pricingItemHour__body_item">ssd - 256 gb</div>
        </div>
        <div class="pricingItem__action">
            <button class="pricingItem__action_btn button">подключить</button>
        </div>
    </div>
    
</div>