.pricing {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform: translateY(-100%);
    transition: all .7s ease;
    z-index: 10;
    background-image: url('/assets/img/pricing-bg.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    background-color: var(--dark_blue_bg);

    &__in {
        padding: 20px;
    }

    &__top {
        margin-bottom: 30px;

        &_back {
            display: inline-block;
        }
    }

    &__head {
        margin-bottom: 20px;
    }

    &__body {
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
    }
}

.pricing.active {
    transform: translateY(0);
}