.lightBtn {
    width: 210px;
    height: 48px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--aqua);
    color: var(--dark_blue_bg);
    text-transform: uppercase;
    font-size: 8.55792px;
    line-height: 10px;
    filter: drop-shadow(0 0 30px var(--aqua));

    &:hover {
        filter: drop-shadow(0 0 30px #fff);
        background-color: #fff;
    }
}