<div class="configItem">
    <div class="configItem__left">
        <svg width="131" height="24" viewBox="0 0 131 24" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M0 0L13.5 0L7 24H0V0Z" fill="#D9D9D9"/>
            <path d="M19.5 0H26.5L20 24H13L19.5 0Z" fill="#D9D9D9"/>
            <path d="M71.5 0H78.5L72 24H65L71.5 0Z" fill="#D9D9D9"/>
            <path d="M123.5 0H130.5L124 24H117L123.5 0Z" fill="#D9D9D9"/>
            <path d="M84.5 0H91.5L85 24H78L84.5 0Z" fill="#D9D9D9"/>
            <path d="M32.5 0H39.5L33 24H26L32.5 0Z" fill="#D9D9D9"/>
            <path d="M97.5 0H104.5L98 24H91L97.5 0Z" fill="#D9D9D9"/>
            <path d="M110.5 0H117.5L111 24H104L110.5 0Z" fill="#D9D9D9"/>
            <path d="M45.5 0H52.5L46 24H39L45.5 0Z" fill="#D9D9D9"/>
            <path d="M58.5 0H65.5L59 24H52L58.5 0Z" fill="#D9D9D9"/>
            </svg>
            
    </div>
    <div class="configItem__label">
        <div class="configItem__label_main">GTX 1080 Ti </div>
        <div class="configItem__label_main">i9</div>
        <div class="configItem__label_sec">RAM</div>
        <div class="configItem__label_sec">16</div>
        <div class="configItem__label_sec">ssd</div>
        <div class="configItem__label_sec">180</div>
    </div>
    <div class="configItem__arrow"></div>
</div>