<div class="spricingItemHour">
    <div class="spricingItemHour__in">
        <div class="spricingItemHour__head">
            <span class="spricingItemHour__head_title">почасовый</span>
            <span class="spricingItemHour__head_tm">всегда свободный</span>
            <span class="spricingItemHour__head_value">1 час - 45 рублей</span>
        </div>
        <div class="spricingItem__body spricingItemHour__body">
            <div class="spricingItem__body_item spricingItemHour__body_item">Хранение данных в течении 7 дней</div>
            <div class="spricingItem__body_item spricingItemHour__body_item">Безлимитное время использования</div>
            <div class="spricingItem__body_item spricingItemHour__body_item">высокоскоростной интернет</div>
            <div class="spricingItem__body_item spricingItemHour__body_item">ssd - 256 gb</div>
        </div>
        <div class="spricingItem__action spricingItemHour__action">
            <button class="spricingItemHour__action_btn spricingItem__action_btn button">подключить</button>
        </div>
    </div>
    
</div>