<div class="spricingItemTop">
    <div class="spricingItemTop__in">
        <div class="spricingItemTop__head">
            <span class="spricingItemTop__head_title">дневной</span>
            <span class="spricingItemTop__head_tm">10.00 - 16.00</span>
            <span class="spricingItemTop__head_value">200 рублей - сеанс  </span>
        </div>
        <div class="spricingItem__body pricingItemTop__body">
            <div class="spricingItem__body_item spricingItemTop__body_item">Хранение данных в течении 7 дней</div>
            <div class="spricingItem__body_item spricingItemTop__body_item">Безлимитное время использования</div>
            <div class="spricingItem__body_item spricingItemTop__body_item">высокоскоростной интернет</div>
            <div class="spricingItem__body_item spricingItemTop__body_item">ssd - 256 gb</div>
        </div>
        <div class="spricingItemTop__action spricingItem__action">
            <button class="spricingItemTop__action_btn spricingItem__action_btn button">подключить</button>
        </div>
    </div>
    
</div>