<div class="spricingItemStart">
    <div class="spricingItemStart__in">
        <div class="spricingItemStart__head">
            <span class="spricingItemStart__head_title">ночной</span>
            <span class="spricingItemStart__head_tm">22.00 - 8.00</span>
            <span class="spricingItemStart__head_value">200 рублей - сеанс</span>
        </div>
        <div class="spricingItem__body spricingItemStart__body">
            <div class="spricingItem__body_item spricingItemStart__body_item">Хранение данных в течении 7 дней</div>
            <div class="spricingItem__body_item spricingItemStart__body_item">Безлимитное время использования</div>
            <div class="spricingItem__body_item spricingItemStart__body_item">высокоскоростной интернет</div>
            <div class="spricingItem__body_item spricingItemStart__body_item">ssd - 256 gb</div>
        </div>
        <div class="spricingItem__action">
            <button class="spricingItem__action_btn button">подключить</button>
        </div>
    </div>
    
</div>