<div class="homeCenter" data-atropos-offset="5">
    <div class="homeCenter__wrapper">
        <div class="homeCenter__wrapper_in">
            <button class="button homeCenter__tt homeCenter__start">ЗАПУСК</button>
            <button class="button homeCenter__play homeCenter__start">
                <div class="ripple-1"></div>
                <div class="ripple-2"></div>
                <svg width="21" height="20" viewBox="0 0 21 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M1.5 3.93964C1.5 2.94877 2.4437 2.23015 3.39889 2.49365L18.3989 6.63159C19.0494 6.81103 19.5 7.40277 19.5 8.07757V12.2726C19.5 12.9298 19.0722 13.5105 18.4446 13.7052L3.4446 18.3604C2.47929 18.66 1.5 17.9385 1.5 16.9278V3.93964Z" stroke="black" stroke-width="3"/>
                    </svg>            
            </button>
            <button class="button homeCenter__settings">настройки</button>
        </div>
    </div>
    
</div>