<div class="billingCenter">
    <div class="billingCenter__dot"></div>
    <div class="billingCenter__dot"></div>
    <div class="billingCenter__dot"></div>
    <div class="billingCenter__dot"></div>
    <div class="billingCenter__head">Производится тарификация</div>
    <div class="billingCenter__value">
        <button class="billingCenter__value_settings button homeCenter__settings">настройки</button>
        <button class="billingCenter__value_btn">
            пополнить
        </button>
        осталось
        <span>326</span>
        минут
    </div>
    <div class="billingCenter__action">
        <div class="billingCenter__action_item">
            @@include('../../../components/lightBtn.html', {
                "text": "открыть стриминг"
            })
        </div>
        <div class="billingCenter__action_item ">
            <button class="billingCenter__end">
                завершить сеанс
            </button>
        </div>
    </div>
</div>