.homeCenter {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    z-index: 1000;
    top: calc(50% - (375px / 2));
    left: calc(50% - (375px / 2));
    

    &__wrapper {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 80px;
        // border: 1px solid red;
       
        
        position: relative;

        &:after {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-image: url('../img/icons/play-gray-line.svg');
            background-repeat: no-repeat;
            background-position: center left;
            background-size: 290px;
            content: '';
            // animation: infinite-circle 1.2s linear infinite reverse;
        }

        &_in {
            width: 215px;
            height: 215px;
            border-radius: 100%;
            // border: 1px dashed var(--aqua);
            
            justify-content: center;
            display: flex;
            align-items: center;
            position: relative;

           

            &:after {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                content: '';
                background-image: url('../img/icons/play-blue-line.svg');
                background-repeat: no-repeat;
                background-position: center;
                background-size: contain;
                animation: infinite-circle 1.2s linear infinite;
                

                @keyframes infinite-circle {
                    0% {
                        transform: rotate(0deg);
                    }
                    100% {
                        transform: rotate(360deg);
                    }
                }
            }
        }
    }
    &__play {
        width: 70px;
        height: 70px;
        border-radius: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        border: 1px solid rgba(#FFFFFF, .2);
        position: relative;
        z-index: 2;
        
        background-color: #fff;
        
        svg {
            path {
                stroke: #000;
            }
        }
        // &:hover {
        //     filter: drop-shadow(0 0 7px #fff);
        //     background-color: #fff;
        //     svg {
        //         path {
        //             stroke: #000;
        //         }
        //     }
        // }
        &:hover {
            filter: drop-shadow(0 0 7px #fff);
            .ripple-1 {
                animation: rippleEffect1 1s ease infinite;
                // animation-play-state: running;
            }
            .ripple-2 {
                animation: rippleEffect2 1s ease infinite;
            }
        }

        .ripple-1 {
            position: absolute;
            width: 70px;
            height: 70px;
            top: calc(50% - (70px / 2));
            left: calc(50% - (70px / 2));
            border: 0px solid #fff;
            // animation: rippleEffect1 1s ease infinite;
            border-radius: 100%;
            // animation-play-state: paused;
        }

        .ripple-2 {
            position: absolute;
            width: 70px;
            height: 70px;
            top: calc(50% - (70px / 2));
            left: calc(50% - (70px / 2));
            border: 0px solid #fff;
            // animation: rippleEffect2 1s ease infinite;
            // animation-play-state: paused;
            border-radius: 100%;
        }


        @keyframes rippleEffect1 {
            0% {
                transform: scale(1);
                border-width: 0px;
            }
            50% {
                transform: scale(1.2);
                border-width: 4px;
            }
            80% {
                transform: scale(1.2);
                border-width: 2px;
            }
            100% {
                border-color: rgba(#fff, .5);
                transform: scale(1.2);
                border-width: 2px;
                opacity: 0;
            }
        }

        @keyframes rippleEffect2 {
            0% {
                transform: scale(1);
                border-width: 0px;
            }
            50% {
                transform: scale(1.4);
                border-width: 4px;
            }
            80% {
                transform: scale(1.2);
                border-width: 2px;
            }
            100% {
                transform: scale(1.2);
                border-width: 2px;
                opacity: 0;
            }
        }


        svg {
            path {
                transition: all .3s ease;
                stroke: var(--aqua);
            }
        }
    }

    &__tt {
        position: absolute;
        top: 40px;
        right: 10px;
        color: #000;
        background-color: #B6B6B6;
        font-size: 20px;
        line-height: 23px;
        padding: 5px;
        text-transform: uppercase;
        z-index: 2;
    }

    &__settings {
        position: absolute;
        bottom: 10px;
        right: 20px;
        text-transform: uppercase;
        padding: 7px 12px;
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        font-weight: 700;
        font-size: 8px;
        line-height: 9px;
        background-image: url('../img/button/btn-main-settings.svg');
        background-size: cover;
        z-index: 2;
    }
}