<header class="headLine active">
    <div class="headLine__in">
        <div class="headLine__main">
            <div class="headLine__logo">
                <div class="headLine__logo_img">
                    <img src="/assets/logo.svg" alt="logo">
                </div>
                <div class="headLine__logo_label">
                    warplay.cloud launcher
                </div>
            </div>
            <div class="headLine__ver">
                ALPHA: V 1.1
            </div>
        </div>
        
        <div class="headLine__action">
            <div class="headLine__action_item"></div>
            <div class="headLine__action_item headLine__action_item-danger"></div>
        </div>
    </div>
</header>